body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-top: 50px;
    color: #00ffcc;
    text-shadow: 0 0 15px #00ffcc;
}

input[type="text"] {
    width: 60%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    margin-top: 15px;
    background: #00ffcc;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00ccaa;
    box-shadow: 0 0 15px #00ffcc;
}
.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 255, 204, 0.1);
    box-shadow: 0 0 20px #00ffcc;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    width: 60%;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 0 20px cyan;
}